<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.leaflet_back_demo.dao.FeatureDao">
    <!--  插入   -->
    <insert id="batchImportPayInfo" parameterType="java.util.List">
        insert into payrollaccount values
        <foreach item="item" collection="list" separator=",">
            (
            #{item.name},
            #{item.id},
            #{item.date},
            #{item.attendance},
            #{item.rest},
            #{item.overtime},
            #{item.leavetime}
            )
        </foreach>
    </insert>

    <!-- 映射  -->
    <resultMap id="BaseResultMap" type="com.example.leaflet_back_demo.entities.Feature">
        <id column="gid" property="gid" jdbcType="INTEGER"/>
        <id column="featureid" property="FeatureID" jdbcType="INTEGER"/>
        <id column="dkbh" property="DKBH" jdbcType="VARCHAR"/>
        <id column="ydmj" property="YDMJ" jdbcType="FLOAT"/>
        <id column="ghyt" property="GHYT" jdbcType="VARCHAR"/>
        <id column="ytdm" property="YTDM" jdbcType="VARCHAR"/>
        <id column="hhbl" property="HHBL" jdbcType="VARCHAR"/>
        <id column="jfbh" property="JFBH" jdbcType="VARCHAR"/>
        <id column="ptss" property="PTSS" jdbcType="VARCHAR"/>
        <id column="jzgd" property="JZGD" jdbcType="FLOAT"/>
        <id column="rjl" property="RJL" jdbcType="FLOAT"/>
        <id column="jzmj" property="JZMJ" jdbcType="FLOAT"/>
        <id column="jzmd" property="JZMD" jdbcType="FLOAT"/>
        <id column="ldl" property="LDL" jdbcType="FLOAT"/>
        <id column="tcws" property="TCWS" jdbcType="INTEGER"/>
        <id column="remark" property="Remark" jdbcType="VARCHAR"/>
        <id column="ssgh" property="SSGH" jdbcType="INTEGER"/>
        <id column="dkmj" property="DKMJ" jdbcType="FLOAT"/>
        <id column="jdccr" property="JDCCR" jdbcType="VARCHAR"/>
        <id column="jsdt" property="JSDT" jdbcType="VARCHAR"/>
        <id column="geom_json" property="geometry" jdbcType="VARCHAR"/>
    </resultMap>

    <!-- 查询所有   -->
    <select id="getFeaturesByField" resultMap="BaseResultMap">
        select * ,ST_AsGeoJSON(geom)::json AS geom_json from landuse where ${column} LIKE CONCAT('%', upper(#{value}),
        '%')
    </select>

    <!-- 查询所有   -->
    <select id="getFeaturesByThreeField" resultMap="BaseResultMap">
        select * ,ST_AsGeoJSON(geom)::json AS geom_json from ${layer} where ${column} LIKE CONCAT('%', upper(#{value}),
        '%')
    </select>

    <!-- 将空间查询参数 转为wkt  返回字段名wkt parameterType="String" -->
    <select id="convertGeoJSONToWKT" parameterType="string"  resultType="string">
        SELECT ST_AsText(ST_GeomFromGeoJSON(#{polygon})) AS wkt;
    </select>

    <!-- 将wkt字符串作为参数 查询相交要素   -->
    <select id="getFeatureBySpace" resultMap="BaseResultMap">
        select * ,ST_AsGeoJSON(geom)::json AS geom_json from landuse where
        ST_Intersects((#{polygon})::geometry,geom::geometry)
    </select>
</mapper>