<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.leaflet_back_demo.dao.LayerDao">
    <!--  插入   -->
    <!--    <insert id="batchImportPayInfo" parameterType="java.util.List">-->
    <!--        insert into payrollaccount values-->
    <!--        <foreach item="item" collection="list" separator=",">-->
    <!--            (-->
    <!--            #{item.name},-->
    <!--            #{item.id},-->
    <!--            #{item.date},-->
    <!--            #{item.attendance},-->
    <!--            #{item.rest},-->
    <!--            #{item.overtime},-->
    <!--            #{item.leavetime}-->
    <!--            )-->
    <!--        </foreach>-->
    <!--    </insert>-->

    <!-- 映射  -->
    <resultMap id="BaseResultMap" type="com.example.leaflet_back_demo.entities.Layer">
        <id column="id" property="id" javaType="java.util.UUID" typeHandler="com.example.leaflet_back_demo.typeHandler.UUIDTypeHandler"/>
        <id column="name" property="name" jdbcType="VARCHAR"/>
        <id column="description" property="description" jdbcType="VARCHAR"/>
        <id column="layers" property="layers" jdbcType="VARCHAR"/>
        <id column="url" property="url" jdbcType="VARCHAR"/>
        <id column="sourceBbox" property="sourceBbox" jdbcType="VARCHAR"/>
        <id column="crs" property="crs" jdbcType="VARCHAR"/>
        <id column="dataCatagory" property="dataCatagory" jdbcType="VARCHAR"/>
        <id column="type" property="type" jdbcType="VARCHAR"/>
        <id column="geomType" property="geomType" jdbcType="VARCHAR"/>
        <id column="catalogId" property="catalogId" typeHandler="com.example.leaflet_back_demo.typeHandler.IntegerArrayTypeHandler"/>
        <!--     column catalogId 是一个存储 catalogId 的 ArrayList 集合” -->
<!--        <collection property="catalogId" javaType="ArrayList" column="catalogId" ofType="catalogId"/>-->
    </resultMap>

    <!-- catalogId 列包含catalogId 的记录    -->
    <select id="getLayersByCatalogId" resultMap="BaseResultMap">
        SELECT * FROM layers WHERE #{catalogId} IN (SELECT UNNEST("catalogId"));
    </select>

    <!--    &lt;!&ndash; 将空间查询参数 转为wkt  返回字段名wkt parameterType="String" &ndash;&gt;-->
    <!--    <select id="convertGeoJSONToWKT" parameterType="string"  resultType="string">-->
    <!--        SELECT ST_AsText(ST_GeomFromGeoJSON(#{polygon})) AS wkt;-->
    <!--    </select>-->

    <!--    &lt;!&ndash; 将wkt字符串作为参数 查询相交要素   &ndash;&gt;-->
    <!--    <select id="getFeatureBySpace" resultMap="BaseResultMap">-->
    <!--        select * ,ST_AsGeoJSON(geom)::json AS geom_json from landuse where-->
    <!--        ST_Intersects((#{polygon})::geometry,geom::geometry)-->
    <!--    </select>-->
</mapper>
