<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.leaflet_back_demo.dao.UserDao">

    <!-- 映射到User  -->
    <resultMap id="BaseResultMap" type="com.example.leaflet_back_demo.entities.User">
        <id column="userid" property="userid" jdbcType="INTEGER"/>
        <id column="username" property="username" jdbcType="VARCHAR"/>
        <id column="loginid" property="loginid" jdbcType="VARCHAR"/>
        <id column="password" property="password" jdbcType="VARCHAR"/>
        <id column="sex" property="sex" jdbcType="VARCHAR"/>
        <id column="departmentid" property="departmentid" jdbcType="INTEGER"/>
        <id column="phone" property="phone" jdbcType="VARCHAR"/>
        <id column="usertype" property="usertype" jdbcType="SMALLINT"/>
        <id column="edittype" property="edittype" jdbcType="SMALLINT"/>
        <id column="jointime" property="jointime" jdbcType="TIMESTAMP"/>
        <id column="lastlogintime" property="lastlogintime" jdbcType="TIMESTAMP"/>
        <id column="logincount" property="logincount" jdbcType="INTEGER"/>
        <id column="extra1" property="extra1" jdbcType="VARCHAR"/>
        <id column="extra2" property="extra2" jdbcType="VARCHAR"/>
        <id column="activeflag" property="activeflag" jdbcType="BOOLEAN"/>
        <id column="inuse" property="inuse" jdbcType="BOOLEAN"/>
    </resultMap>

    <!--  根据登录名查询 用户信息  -->
    <select id="getUserByLoginId" resultMap="BaseResultMap">
        select * from users where loginid = '${loginid}';
    </select>

    <!--  根据userid查询 用户信息  -->
    <select id="getUserByUserId" resultMap="BaseResultMap">
        select * from users where userid = '${userid}';
    </select>

    <!--  用户列表  -->
    <select id="getUserList" resultMap="BaseResultMap">
        SELECT * FROM users
        ORDER BY userid
        OFFSET #{offset}
        LIMIT #{limit};
    </select>

    <!--  总记录数  -->
    <select id="getUserCount" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM users;
    </select>

    <!-- 添加用户 将userid返回     -->
    <insert id="addUser" parameterType="com.example.leaflet_back_demo.entities.User">
        INSERT INTO users (loginid, password, username, sex, departmentid, phone, usertype, edittype, jointime,
        lastlogintime, logincount, extra1, extra2, activeflag, inuse)
        VALUES (#{loginid}, #{password}, #{username}, #{sex}, #{departmentid}, #{phone}, #{usertype}, #{edittype},
        #{jointime}, #{lastlogintime}, #{logincount}, #{extra1}, #{extra2}, #{activeflag}, #{inuse})
        RETURNING userid
    </insert>

    <!--  更新 用户信息  -->
    <update id="updateUser" parameterType="com.example.leaflet_back_demo.entities.User">
        update users set
        <set>
            <if test="loginid != null">loginid = #{loginid},</if>
            <if test="password != null">password = #{password},</if>
            <if test="username != null">username = #{username},</if>
            <if test="sex != null">sex = #{sex},</if>
            <if test="departmentid != null">departmentid = #{departmentid},</if>
            <if test="phone != null">phone = #{phone},</if>
            <if test="usertype != null">usertype = #{usertype},</if>
            <if test="edittype != null">edittype = #{edittype},</if>
            <if test="extra1 != null">extra1 = #{extra1},</if>
            <if test="extra2 != null">extra2 = #{extra2},</if>
            <if test="activeflag != null">activeflag = #{activeflag},</if>
            <if test="inuse != null">inuse = #{inuse},</if>
        </set>
        where userid = #{userid}
    </update>

    <!--  删除用户   -->
    <delete id="deleteUser">
        delete from users where userid = #{userid}
    </delete>

</mapper>